target/
!.mvn/wrapper/maven-wrapper.jar

.apt_generated
.classpath
.factorypath
.project
.seetings
.springbeans
.idea
*.iws
*.iml
*.ipr

build/
nbbuild/
dist/
nbdist/
.nb-gradle/
out/
.mvn/
mvnw.cmd
mvnw